In [3]:
import pandas as pd
import numpy as np

In [69]:
df=pd.read_csv("sales_082020.csv")
df.seller_id.value_counts()

pzsiehl0    703
wd3rgi3q    525
j21w87xy    500
dbm0o9qu    436
hbtm3tdy    316
           ...
0nbzzk36      1
tghukb53      1
4e4qh5ut      1
z4m1qi5x      1
57wrd0bf      1
Name: seller_id, Length: 114227, dtype: int64

In [12]:
df.shape

(237671, 10)

In [75]:
dfn=df.dropna()
df.category.value_counts()
df[df.currency=="EUR"]

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
546,oagt2ozal7,IE,b57xo98q,IE,2l6ze3xh4roy,Jewellery,NaN,EUR,21.25,2020-08-08
948,xpbfdqczlk,IT,spoetwqz,IT,ykdmbrywpjx4,Outerwear,NaN,EUR,55.26,2020-08-09
949,zos594tze5,IT,spoetwqz,IT,vlbfdpb8pke2,Other,NaN,EUR,26.92,2020-08-08
950,x1bjyofhp5,IT,spoetwqz,IT,ru1iggf0v7rb,Accessories,NaN,EUR,62.28,2020-08-06
951,xpbfdqczlk,IT,8b0q1eqs,IT,3hkn59tx2qpi,Shoes,NaN,EUR,29.68,2020-08-08
...,...,...,...,...,...,...,...,...,...,...
237579,nnxzdvm374,IE,r0x9jfyv,IE,bbqxlk52za10,Dresses,NaN,EUR,21.40,2020-08-07
237596,ho58jlsegc,IE,20cqoo29,IE,unftdfcinfpb,Dresses,NaN,EUR,6.68,2020-08-05
237598,svzvwjycr3,IE,u319di3x,IE,rxhpvrtp8je6,Bottoms - Womens,NaN,EUR,26.12,2020-08-05
237634,edj7mhwdm7,IT,jfvp46mm,IT,jy68ug28owl8,Outerwear - Mens,NaN,EUR,204.80,2020-08-05
237642,5b3nv67egk,IT,yprtscow,IT,wuhnmgs9q7me,Accessories,NaN,EUR,13.75,2020-08-09

In [17]:
dfn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119324 entries, 1 to 237665
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        119324 non-null  object
 1   buyer_country   119324 non-null  object
 2   seller_id       119324 non-null  object
 3   seller_country  119324 non-null  object
 4   product_code    119324 non-null  object
 5   category        119324 non-null  object
 6   brand           119324 non-null  object
 7   currency        119324 non-null  object
 8   price           119324 non-null  float64
 9   date            119324 non-null  object
dtypes: float64(1), object(9)
memory usage: 10.0+ MB